
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    box-sizing: content-box;
}

html, body{
    padding: 0;
    margin: 0 ;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.my-container, .my-header, nav, .my-nav-links, .my-logo, #find{
    padding: 0 ;
    margin: 0 ;  
}


.my-header{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    background-color: #F5F7FF ;
    padding: 20px 125px;
}

.my-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.my-logo img{
    height: 70px;
    width: 60px;
}

.my-logo p{
    font-family: "Odibee Sans", serif;
    text-transform: uppercase;
    font-size: 35px;
    padding-top: 20px;
}

nav{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.my-nav-links{
   display: flex;
   gap: 40px;
}

.my-nav-links a{
    font-family: "Open Sans",sans-serif;
    color: black;
    text-decoration: none;
    transition: 0.7s;
}

.my-nav-links a:hover{
    color: #544CAC;
}

.search-container{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search-container input{
    font-family: "Open Sans",sans-serif;
    height: 35px;
    width: 307px;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
}

.icon-container{
    width: 30px;
    height: 30px;
    background-color: #F5F7FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
    cursor: pointer;
}

.icon-container svg{
    width: 19px;
    height: 19px;
}

#login, #sign{
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
    color: #000;
    transition: 0.7s;
}

#login:hover, #sign:hover{
     color: #544CAC;
     cursor: pointer;
}

.my-container{
    padding: 20px 125px;
}

#find{
    background-color: #F5F7FF;
    padding-bottom: 130px;
    position: relative;
}

.find-info{
    padding-top: 55px;
}

.find-info .find-header{
    font-family: "Prompt", sans-serif;
    font-size: 45px;
    max-width: 480px;
    line-height: 60px;
    letter-spacing: 7%;
}

.find-info .find-header span{
    color: #FF5C00;
}

.find-text{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #A8A8A8;
    line-height: 28px;
    max-width: 545px;
    margin-top: 10px;
}

.find-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.find-content img{
    position: absolute;
    bottom: 0;
    left: 50%;
}

#discover-btn{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: #544CAC;
    color: #fff;
    width: 160px;
    height: 44px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.5s;
}

#discover-btn:hover{
    background-color: #3d377f;
}

#watch-btn{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: transparent;
    color: #000;
    width: 130px;
    height: 44px;
    border: none;
    cursor: pointer;
    margin-left: -10px;
}

.find-btns{
    margin-top: 30px;
    max-width: 390px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.find-btns div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-btns div svg{
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.5s;
}

.find-btns div svg:hover{
    height: 55px;
    width: 55px;
}

.start-img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.how-works{
    color: #FF5C00;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    margin-top: 50px;
}

.start-header{
    color: #353434;
    font-family: "Oswald", sans-serif;
    font-size: 44px;
    max-width: 380px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.accordion-item{
    border: none;
    margin-bottom: 35px;
    max-width: 435px;
    
}

.accordion-button{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: 323232;
    font-weight: 600;
    padding: 20px 20px 20px 70px;
    background-color: #F5F7FF;
}

.custom-btn-1::before{
        content: "1"; 
        position: absolute;
        left: 0; 
        top: 50%;
        transform: translateY(-50%); 
        width: 30px; 
        height: 30px; 
        background-color: #F3E0FF; 
        color: #9444C9; 
        font-size: 16px; 
        font-weight: bold; 
        text-align: center; 
        line-height: 30px;
        border-radius: 6px; 
        margin-left: 20px;
}

.custom-btn-2::before{
    content: "2"; 
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%); 
    width: 30px; 
    height: 30px; 
    background-color: #E7E9FE; 
    color: #626FFF; 
    font-size: 16px; 
    font-weight: bold; 
    text-align: center; 
    line-height: 30px;
    border-radius: 6px; 
    margin-left: 20px;
}

.custom-btn-3::before{
    content: "3"; 
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%); 
    width: 30px; 
    height: 30px; 
    background-color: #FFDECC; 
    color: #FF5C00; 
    font-size: 16px; 
    font-weight: bold; 
    text-align: center; 
    line-height: 30px;
    border-radius: 6px; 
    margin-left: 20px;
}

.video-container{
    position: relative;
    display: inline-block;
    width: 635px;
    height: 433px; 
    margin-bottom: 50px;
}

#video-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.start-job{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose-header{
    margin: 0 auto;
    text-align: center;
    padding-top: 65px;
}

.choose-text{
    margin: 0 auto;
    text-align: center;
    max-width: 543px;
    margin-top: 30px;
}

.card{
    width: 320px;
    height: 200px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 25px;
    padding: 40px 20px;
    transition: 0.5s;
}

.card:hover{
    background-color: #F9FAFF;
    margin-bottom: 30px;
}

.card-icon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #6156DC;
}

.my-card-header{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #323232;
    margin-top: 20px;
}

.my-card-text{
    max-width: 276px;
}

.choose-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

